body {
  text-align: center;
}
label {
  display: block;
}
.send-message-btn {
  display: block;
  margin: 1rem auto;
}
.chat-screen-div {
  border: solid black 2px;
  height: 13rem;
  width: 80%;
  margin: 0 auto;
  margin-bottom: 1rem;
  display: flex;
  flex-direction: row-reverse;
}
.users-list {
  border: blue solid 2px;
}
.messages-div ul {
  text-align: left;
  list-style: none;
  margin: 0;
  padding: 0;
}
.messages-div {
  width: 100%;
}
