body {
  text-align: center;
  background: rgba(224, 252, 253, 0.5);
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
}
label {
  display: block;
}
.send-message-btn {
  display: block;
  margin: 1rem auto;
}
.chat-screen-div {
  border: solid black 2px;
  height: 13rem;
  width: 70%;
  margin: 0 auto;
  margin-bottom: 1rem;
  display: flex;
  flex-direction: row-reverse;
}
.users-list-div {
  border: blue solid 2px;
  width: 50%;
  overflow-y: auto;
}
.messages-div ul {
  text-align: left;
  list-style: none;
  margin: 0;
  padding: 0;
  width: 70%;
}
.messages-div {
  width: 100%;
  overflow-y: auto;
}
li {
  overflow-wrap: break-word;
}
/* .list {
  height: 100%;
} */
